<h1>Create a New Worker</h1><hr>
<%= render 'form' %>
<span id="errror">
	<br/><br/>
</div>

<h1>Listing Workers</h1>
<hr>
<div id="workerslist">
	<%= render 'list_workers' %>
</div>


| <%= link_to 'Work Orders', work_orders_path%> |