<div class='main_content'>
  <h2>Welcome to <%= best_in_place_if signed_in?, @faculty_member, :first_name %> <%= best_in_place_if signed_in?, @faculty_member, :last_name %>'s page!</h2>
  <p><%= best_in_place_if signed_in?, @faculty_member, :summary, type: :textarea  %></p>

  <% unless @faculty_member.biography.blank? %>
  <h4>Biography</h4>
  <p><%= best_in_place_if signed_in?, @faculty_member, :biography, type: :textarea %></p>
  <% end %>

  <% link_to raw("<i class='icon-edit'></i> Edit profile"), edit_faculty_member_path(@faculty_member), class: 'btn' if signed_in? %>
</div>
<br/>
<% if signed_in?%>
	<p>*Click on fields to edit*</p>
<% end %>